body.back {
	background-image: url("../images/hotel1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top-center;
}

img.logo{
	width: 100%;
	border-bottom: 10px;
	padding-bottom: 10px;
}

div.midOne{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;

	margin: auto;
}

table.cent{
	margin: auto;
	width: 90%;
}

div.back2 {
	
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;

	align-items: center;
	text-align: center;
	margin: auto;
	width: 40%;

	background-color: rgba(255,255,255);
}


div.backFull {
	
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;

	align-items: center;
	text-align: center;
	margin: auto;
	width: 60%;

}

.Fixed{
	position: fixed;
}

div.newMain {
	background-color: rgba(255,255,255,0.8);
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;

	margin: auto;
}

div.title{
	background-color: #e6ff99;
}
div.title2{
	background-color: #ffd9b3;
}
div.title3{
	background-color: #ccccff;
}

div.newMain2 {
	background-color: rgba(255,255,255,0.8);
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;

	max-width: 500px;
	margin: auto;
}

.container-table{
	margin-left: auto;
	margin-right: auto;

}

.vertical-set{
	vertical-align: middle;
}

div.newMain:empty {
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;

}
th, td, tr{
	padding: 5px;
	text-align: left;
}

tr:nth-child(odd){
	background-color: white;
}

tr:nth-child(even){
	background-color: #f0f0f0;
}

div.navMain {

	background-color: #404040;

	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}

div.padNew {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
}


.btn-primary{
	color: #765800;
	border-color: #dcd16c;
	background-color: #dcd16c;
	
}

.btn-primary:active:focus{
	color: #dcd16c;
	border-color: #dcd16c;
	background-color: #765800;	
}

.btn-primary:hover, .open>.dropdown-toggle.btn-primary, .btn-primary:focus{
	color: #dcd16c;
	border-color: #dcd16c;
	background-color: #765800;
}

.btn-primary:active{
	color: #765800;
	border-color: #765800;
	background-color: #dcd16c;	
}
.btn-primary.active{
	color: #765800;
	border-color: #765800;
	background-color: #dcd16c;	
}



